@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$gap: 10px;

$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

// colors
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255, 0.24);