@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$gap: 10px;

// colors
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255, 0.24);