@import 'settings';

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.trello-app {
    height: 100vh;
    overflow: hidden;
    line-height: 1.3em;
    background-color: $board-bg-color;
    color: $app-main-text-color;
    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}